#box {
  display: flex;
  flex-flow: row wrap;
}

.card {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: wheat;
}

.odd {
  background-color: orangered;
}

.even {
  background-color: midnightblue;
}
